@model MvcDemo.ViewModels.UploadedImage

<div class="row">
    <div class="thumb-info col-md-5 col-md-push-7">
        <h3>@Model.OriginalFilename</h3>
        <h4>Original size: @(Model.OriginalSize.Width)x@(Model.OriginalSize.Height)</h4>
    </div>
    <div class="uploaded-thumb col-md-7 col-md-pull-5">
        @* causes a Cross-origin resource sharing (CORS) problem in IIS express *@
@*        <a target="_blank" href="@Url.Action("Image", "Home", new{id=Model.FullImageId})">*@

            <img alt="@Model.OriginalFilename" src="@Url.Action("Image", "Home", new{id=Model.ThumbnailId})" class="img-thumbnail" />
@*        </a>*@
    </div>
</div>
